<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registration</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form novalidate (ngSubmit)="registerUser(newuser)" [formGroup]="newuser">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" value="" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" value="" formControlName="password"></ion-input>
    </ion-item>
    <!-- <ion-item no-lines *ngIf="( user.get('password').hasError('required') ) && user.get('password').touched">
       <div class="error" *ngIf="user.get('password').hasError('required') && user.get('password').touched">
          Password is required
      </div>        
    </ion-item> -->
    <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password"   value="" formControlName="re_password"></ion-input>
    </ion-item>
    <!-- <ion-item no-lines *ngIf="( newuser.get('re_password').hasError('equalTo') || newuser.get('re_password').hasError('required') ) && newuser.get('re_password').touched">

    <div class="error" *ngIf="newuser.get('re_password').hasError('required') && newuser.get('re_password').touched">
      Confirm password is required
    </div>
      <div class="error" *ngIf="newuser.get('re_password').hasError('equalTo') && newuser.get('re_password').touched">
        Password Mismatch
      </div>
    </ion-item> -->
 
  <div padding>
    <button block ion-button [disabled]="newuser.invalid" >Register</button> 
  </div>
</form>
</ion-content>
