<ion-header>
	<ion-navbar>
	  <button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
	  </button>
	  <ion-title>UserDetails</ion-title>
	</ion-navbar>
  </ion-header>
	<br>
	<br>
	<br>
<ion-content>
				
<!-- <ion-card text-center>
	<ion-card-content>
		<ion-card-title >
			FIRSTNAME: {{firstname}}
		<br> LASTNAME: {{lastname}}
		<br>DATEOFBIRTH: {{dob}}
		<br>COMPANY: {{company}}
		<br>DESIGNATION: {{designation}}
		<br>PHONE: {{phone}}
		<br>EMAIL: {{email}}
		</ion-card-title>
		
	</ion-card-content>
</ion-card>
<button block ion-button (click)="getuserdetails()">View my Profile</button>
<button block ion-button (click)="navigateTo()">Go to Login</button>
<button block ion-button (click)="editprofile()">Edit my Profile</button> -->
		<ion-list>
				<ion-list-header>
					Personal Information
				</ion-list-header>
		
				<ion-item (click)="updateName()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Name
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.firstName || userProfile?.lastName">
								{{userProfile?.firstName}} {{userProfile?.lastName}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.firstName">
								<span>
									Edit
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
		
				<ion-item>
					<ion-label class="dob-label">Date of Birth</ion-label>
					<ion-datetime displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY" [(ngModel)]="Dob" (ionChange)="updateDOB(birthDate)"></ion-datetime>
				</ion-item>
		
				<ion-item (click)="updateEmail()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Email
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.email">
								{{userProfile?.email}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.email">
								<span>
									Change Email
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
		
				<ion-item (click)="updatePassword()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Password
							</ion-col>
							<ion-col col-6 class="placeholder-profile">
								<span>
									Change Password
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
		

				<ion-item (click)="updateCompany()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Company
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.Company">
								{{userProfile?.Company}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.Company">
								<span>
									Change Company
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>

				<ion-item (click)="updateDesignation()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Designation
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.Designation">
								{{userProfile?.Designation}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.Designation">
								<span>
									Change Designation
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>

				<ion-item (click)="updatePhone()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Phone
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.Phone">
								{{userProfile?.Phone}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.Phone">
								<span>
									Change Phone
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>

				<ion-item (click)="updateAddress()">
					<ion-grid>
						<ion-row>
							<ion-col col-6>
								Address
							</ion-col>
							<ion-col col-6 *ngIf="userProfile?.address">
								{{userProfile?.address}}
							</ion-col>
							<ion-col col-6 class="placeholder-profile" *ngIf="!userProfile?.address">
								<span>
									Change Address
								</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-item>
			</ion-list>
</ion-content>